html {
    height: 100%;
    width: 100%;
  }
main {
    display: flex;
    justify-content: center;
    align-items: center;
}
button {
    background-color: blue;
    justify-content: space-around;
  }
disabled {
    background-color: grey;
}
body {
  width: 100vw;
  height: 100vh;
  background-image: url('/css/backgrounds/24fbd7a77e122b64803375ded2193d83.jpg');
  background-size: cover;
}
h2{
  color:white;
}
.face-down {
    background-image: url('/css/card-library/images/backs/ZBackground.png');
}